<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <show :data="list"></show>
        <gongneng @submit="add" ></gongneng>
    </div>
</body>
<template id="pinglun">
    <textarea rows="30" cols="100" style="font-size: 18px" >{{chageData() }}</textarea>
</template>
<template id="p">
    <div>
        name:<input type="text" id="name" v-model="name" />
        content:<input type="text" id="content" v-model="content" />
        <input type="button" @click="submit" value="提交"/>
    </div>
</template>
<script>
    //时间过滤器
    /*
    Vue.filter('dateformate',(msg, patten="yyyy-MM-dd HH:mm:ss")=>{
        //console.log(msg);
        let d = new Date(msg)
        let yyyy = d.getFullYear()
        let MM = (d.getMonth() + 1).toString().padStart(2,'0')
        let dd = d.getDate().toString().padStart(2,'0')
        let HH = d.getHours().toString().padStart(2,'0')
        let mm = d.getMinutes().toString().padStart(2,'0')
        let ss = d.getSeconds().toString().padStart(2,'0')
        return patten === "yyyy-MM-dd HH:mm:ss" ? `${yyyy}-${MM}-${dd} ${HH}:${mm}:${ss}` : `${yyyy}-${MM}-${dd}`
        })
    */


    //显示评论组件
    Vue.component('show',{
        template:"#pinglun",
        props:['data'],
        methods: {
            chageData(){
                let p = ""
                this.data.forEach((item)=>{
                    let word = `名字:${item.name} 内容:${item.content} 时间:${this.$options.methods.dateformate(item.date)}`
                    p += (word + "\n")
                })
                return p
            },
            dateformate(msg){
                  let d = new Date(msg)
                  let yyyy = d.getFullYear()
                  let MM = (d.getMonth() + 1).toString().padStart(2,'0')
                  let dd = d.getDate().toString().padStart(2,'0')
                  let HH = d.getHours().toString().padStart(2,'0')
                  let mm = d.getMinutes().toString().padStart(2,'0')
                  let ss = d.getSeconds().toString().padStart(2,'0')
                  return `${yyyy}-${MM}-${dd} ${HH}:${mm}:${ss}`
            }

        },
    })
    //评论功能组件
    Vue.component('gongneng',{
        template:"#p",
        data:()=>{
            return {
                name:'',
                content:'',
            }
        },
        methods:{
            submit: function(){
                console.log({name:this.name, content:this.content, date: this.date});
                this.$emit('submit', [{name:this.name, content:this.content, date: new Date()}])
            }
        }
    })
    new Vue({
        el: "#app",
        data:{
            list:[
                {name:'zzx', content: 'sklfjlksfjdlk', date: new Date()},

                {name:'zzx', content: 'sklfjlksfjdlk', date: new Date()},
                {name:'zzx', content: 'sklfjlksfjdlk', date: new Date()},
                {name:'zzx', content: 'sklfjlksfjdlk', date: new Date()}
            ]
        },
        methods:{
            add(data){
                this.list.push({
                    name: data[0].name,
                    content: data[0].content,
                    date: data[0].date
                })
            }
        }
    })

</script>
</html>