body{
    margin: 0 auto;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
.top{
    width: 100%;
    height: 500px;
    border: 1rpx solid #eee;
}
.top_title{
    text-align: center;
    color: lightblue;
}
