<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <title>Document</title>
</head>
<style>
    .v-leave-to,
    .v-enter{
        opacity: 0;
        transform: translateX(70px)
    }

    .v-enter-active,
    .v-leave-active{
        transition: all 2s ease;
    }

    
    .second-leave-to,
    .second-enter{
        opacity: 0;
        transform: translateX(200px)
    }

    .second-enter-active,
    .second-leave-active{
        transition: all 2s ease;
    }

</style>
<body>
    <div id="app">
        <input type="button" @click="flag=!flag" value="按钮">
        <transition>
            <h1 v-if="flag">这是一个标题</h1>
        </transition>
        <hr>
        <input type="button" @click="flag1=!flag1" value="按钮2">
        <transition name="second" duration="{enter: 1000, leave:400}"> 
            <h6 v-if="flag1">这是标题6</h6>
        </transition>
        <!-- transition有vue提供的组件 该组件有很多props-->
    </div>
</body>
<script>
    var app = new Vue({
        el:"#app",
        data:{
            flag:false,
            flag1: false
        },
        methods: {
            
        }
    })
</script>
</html>